{% extends '../base.html' %}
{% block css_link %}
<link href="/assets/css/user.css" rel="stylesheet" type="text/css">
<script>
$(function(){
	$('#sbm-modify').change(function(){
		console.log('비번 changed');
		$('#sbm-modify').alert("수정 되었습니다.");
	});

	$('#sbm-modify').click(function(){
		modify = $('#password').val();
		if(password == ''){
			return;
		}
	});
});
</script>
{% endblock %}
{% block content %}
			<div id="user">

				<form id="join-form" name="joinForm" method="post" action="/user/modify?id={{ user.id }}">{% csrf_token %}
					<label class="block-label" for="name">이름</label>
					<h4>{{ user.name }}</h4>

					<label class="block-label" for="email">이메일</label>
					<h4>{{ user.email }}</h4>

					<label class="block-label">패스워드</label>
					<input name="password" type="password" value="">
					
					<fieldset>
						<legend>성별</legend>
						<label>여</label> <input type="radio" name="gender" value="female" checked="checked">
						<label>남</label> <input type="radio" name="gender" value="male">
					</fieldset>

					<input id="sbm-modify" type="submit" value="수정하기">
					
				</form>
			</div>
{% endblock %}